<!--templates/registration/password_reset_form.html-->
{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock title%}

{% block forgot_password %}
<h1>Forgot your password?</h1>
<p>Enter your email below, and we'll email instuctions for setting a new one.</p>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Send me instructions!">
</form>
{% endblock forgot_password %}