{% load crispy_forms_tags %}
{% load static %}
{% block title %}Destinations{% endblock title %}
{% block content %}
{% for destination in destination_list %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<div class="card">
    <div class="card-header">
        <span class="fw-bold">
            <a href="{{ destination.get_absolute_url }}">{{ destination.location }}</a>
        </span> &middot;
        <span class="text-muted">by {{ destination.author }} |
            {{ destination.date }}</span>
    </div>
    <div class="card-body">
        {{ destination.details }}
        {% if destination.author.pk == request.user.pk %}
        <a href="{% url 'destination_edit' destination.pk %}">Edit</a>
        <a href="{% url 'destination_delete' destination.pk %}">Delete</a>
        {% endif %}
    </div>
    <div class="card-footer">
        {% for comment in destination.destination_comment_set.all %}
        <p>
            <span class="fw-bold">
                {{ comment.author}} &middot; {{ comment.author.status }}
            </span>
            {{ comment }}
        </p>
        {% endfor %}
        <h4> Add a comment </h4>
        <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-2" type="submit">Save</button>
        </form>
    </div>

    <body>
        <div class="container">
            <div class="post">
                <div class="text">Thanks for rating us!</div>
                <div class="edit">EDIT</div>
            </div>
            <div class="star-widget">
                <input type="radio" name="rate" id="rate-5">
                <label for="rate-5" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-4">
                <label for="rate-4" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-3">
                <label for="rate-3" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-2">
                <label for="rate-2" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-1">
                <label for="rate-1" class="fas fa-star"></label>
                <form action="#">
                    <header></header>
                    <div class="textarea">
                        <textarea cols="30" placeholder="Describe your experience.."></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const btn = document.querySelector("button");
            const post = document.querySelector(".post");
            const widget = document.querySelector(".star-widget");
            const editBtn = document.querySelector(".edit");
            btn.onclick = () => {
                widget.style.display = "none";
                post.style.display = "block";
                editBtn.onclick = () => {
                    widget.style.display = "block";
                    post.style.display = "none";
                }
                return false;
            }
        </script>
    </body>
</div>
<br />

</html>
{% endfor %}
{% endblock content %}