{% load crispy_forms_tags %}
{% load static %}
{% block title %}Destinations{% endblock title %}
{% block content %}
{% for destination in destination_list %}
<html lang="en" dir="ltr">

<div class="card">
    <div class="card-header">
        <span class="fw-bold">
            <a href="{{ destination.get_absolute_url }}">{{ destination.location }}</a>
        </span> &middot;
        <span class="text-muted">by {{ destination.author }} |
            {{ destination.date }}</span>
    </div>
    <div class="card-body">
        {{ destination.details }}
    </div>
    <div class="card-footer text-center text-muted">
        {% if destination.author.pk == request.user.pk %}
        <a href="{% url 'destination_edit' destination.pk %}">Edit Destination</a> &middot;
        <a href="{% url 'destination_delete' destination.pk %}">Delete Destination</a>
        {% endif %} &middot;
        <a href="{{ destination.get_absolute_url }}">Add A Comment</a>
        {% for comment in destination.destination_comment_set.all %}
        <p>
            <span class="fw-bold">
                {{ comment.author}} &middot; {{ comment.author.status }}
            </span>
            {{ comment }}
        </p>
        {% endfor %}
    </div>
</div>
<br />

</html>
{% endfor %}
{% endblock content %}